<?xml version="1.0"?>
<config>
    <modules>
        <Bds_General>
            <version>0.1.0</version>
        </Bds_General>
    </modules>
    <global>
	<helpers>
            <general>
                <class>Bds_General_Helper</class>
            </general>
        </helpers>
	<resources>  
	    <general_setup>
		<setup>
		    <module>Bds_General</module>
		</setup>
		<connection>
		    <use>core_setup</use>
		</connection>
	    </general_setup>
	    <general_write>
		<connection>
		    <use>core_write</use>
		</connection>
	    </general_write>
	    <general_read>
		<connection>
		    <use>core_read</use>
		</connection>
	    </general_read>
	</resources>
    </global>
    <default>
	<bds>
	    <bds_group>
		<bds_googleshare>1</bds_googleshare>
                <bds_facebookshare>1</bds_facebookshare>
                <bds_twittershare>1</bds_twittershare>
                <bds_pinterestshare>1</bds_pinterestshare>
	    </bds_group>
	</bds>
    </default>
</config>
